body {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-xl{
  font-size: 30px !important;
  margin: 20px;
}

#mainTitle{
  font-style: italic;
  padding: 10px;
}

#mainUI{
  margin-top: 20px;
  margin-bottom: 100px;
}

#upload-btn{
  position: absolute;
  font-size: 30px;
  opacity: 0;
  right: 0;
  top: 0;
}
